# Dependencies
node_modules

# Environment
.env
.env.*
!.env.example

# Build
dist
dist-ssr
*.local

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# PWA dev artifacts
dev-dist
